*{
    padding: 0px;
    margin: 0px;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}
nav {
  height: 10vh;
  background-color: #454839;
  display:flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 20px; 
}
.head{
  display: flex;
  justify-content:space-around;
}
#logo{
    margin-top: 0.35em;
    margin-right: 2em;
    height: 10.5vh;
}
.title {
  color: rgb(255, 255, 255);
  align-self: center;
  font-size: larger;
  font-size: 3vw;
}
#searchTxt{
  height: 80 rem;
  border: 2px solid transparent;
  width: 100%;
  max-width: 300px;
  padding-left: 0.8em;
  outline: none;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
}
#searchTxt:focus,
#searchTxt:hover {
    border: 5px solid #848B52;
    box-shadow: 0 0 5px #848B52;
    background-color: white;
  }
  @media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.5rem; 
    }

    #searchTxt {
        max-width: 200px; 
    }
}
.content{
    display: flex;
    flex-direction: row;
}
.left{
    width: 25vw;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: #e8ecd6;
    justify-content:center;
    
}
.right{
    width: 75vw;
    background-color: #fdfff0;
}
@media (max-width: 1400px) {
  .content {
    flex-direction: column;
  }

  .left {
    width: 100%;
    order: 1;
    display: flex;
    justify-content: space-between; 
  }

  .right {
    width: 100%;
    order: 2; 
  }
}
.cal{

    margin: 0;
    margin-left: 1em;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    align-self:center;
    width: 100%;
  }
  .wrapper{
    width: 90%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  }
  .wrapper header{
    display: flex;
    align-items: center;
    padding: 2.5em 2.5em 1.5em;
    justify-content: space-between;
  }
  header .icons{
    display: flex;
  }
  header .icons span{
    height: 0.005em;
    width: 1em;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 75%;
  }
  .icons span:last-child{
    margin-right: -10px;
  }
  header .icons span:hover{
    background: #f2f2f2;
  }
  header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
  }
  .calendar{
    padding: 20px;
  }
  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  .calendar .days{
    margin-bottom: 20px;
  }
  .calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }
  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
  }
  .days li.inactive{
    color: #aaa;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }
  .days li.active::before{
    background: #454839;
  }
  .days li:not(.active):hover::before{
    background: #f2f2f2;
  }
  .days li.holiday {
      color: #454839; 
  }
  
  .days li.holiday::before {
      background-color: #e8ecd6;
  }
  .holiday-name {
    font-size: 0.8rem;
    color: #555;
  }
  .days li .holiday-name {
    position: absolute;
    bottom: -25px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    color:#454839 ;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .days li:hover .holiday-name {
    opacity: 1;
  }
  
  .btn{
    background-color:#454839 ;
    border: none;
    width: 50px;
    height: 50px;
    margin: 0px 0px 0px 10px;
    border-radius: 25px;
  }
  .btn:hover,
  .btn:focus{
    background-color: #636946;
  }
  #clock {
    font-size: 5rem;
    margin-left: 0.25em;
    margin-right: 0.5em;
    align-self: center;
    margin-bottom: 20px; 

    margin-top: 0;
  }
  @media (max-width: 768px) {
    #clock {
        font-size: 2em;
        display: none; 
    }
}
  .note-text-container{
    max-height: 100px;
    overflow-y: auto;
  }
  #popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001; 
  }
  
  #popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .close-popup1 {
    background-color: #454839;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup {
    position: fixed;
    bottom: -10%;
    left: 8%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000; 
}

.close-popup {
    background-color: #454839;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0 0;
    border-radius: 5px;
    cursor: pointer;
}
.notification {
  background-color: #B9CBB9;
  border: 1px solid #c3e6cb;
  padding: 10px;
  position: relative; /* For positioning close button */
}

.close-notification {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

